target/
!**/src/main/**
!**/src/enabled/**
.DS_Store
.gradle/
out/

### STS ###
.apt_generated
.classpath
.factorypath

.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/

### VS Code ###
.vscode/

### Tests ###
h2/
