<configuration>
    <include resource="org/springframework/boot/logging/logback/defaults.xml"/>

    <springProfile name="local">
        <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
            <encoder>
                <pattern>${CONSOLE_LOG_PATTERN}</pattern>
                <charset>utf8</charset>
            </encoder>
        </appender>

        <root level="INFO">
            <appender-ref ref="CONSOLE"/>
        </root>
    </springProfile>

    <springProfile name="!local">
        <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
            <encoder class="net.logstash.logback.encoder.LoggingEventCompositeJsonEncoder">
                <providers>
                    <timestamp>
                        <fieldName>timestamp</fieldName>
                        <timeZone>America/Sao_Paulo</timeZone>
                        <pattern>yyyy-MM-dd'T'HH:mm:ss.SSSZZ</pattern>
                    </timestamp>

                    <logLevel>
                        <fieldName>level</fieldName>
                    </logLevel>

                    <message>
                        <fieldName>message</fieldName>
                    </message>

                    <context/>
                    <mdc/>

                    <loggerName>
                        <fieldName>logger</fieldName>
                    </loggerName>

                    <stackTrace>
                        <fieldName>stackTrace</fieldName>
                    </stackTrace>

                    <!-- provides the fields in the configured pattern -->
                    <pattern>
                        <omitEmptyFields>true</omitEmptyFields>
                        <!-- the pattern that defines what to include -->
                        <pattern/>
                    </pattern>
                </providers>
            </encoder>
        </appender>

        <root level="INFO">
            <appender-ref ref="CONSOLE"/>
        </root>
    </springProfile>

</configuration>
